[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
PyJWT = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-pspec = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
